<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1>All Lists</h1>

      <ul>
        <% @lists.each do |list| %>
          <li><%= link_to list.name, list_path(list) %></li>
        <% end %>
         <%= link_to "Add a List",  new_list_path, class: 'btn btn-primary mt-3'%>
      </ul>
    </div>
  </div>
</div>
